*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #3498db;
    font-family: "Roboto Condensed", sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
#box{
    width: 40%;
    /* height: 400px; */
    padding: 16px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
}

.row{
    width: 100%;
   
    padding-top: 8px;
}

.btn{
    
    padding: 5px 10px;
    background-color: #3498db;
    border: none;
    border-radius: 10px;
    color: white;
    
    cursor: pointer;
    display: block;
  
}
.sub{   
    padding: 5px 10px;   
    background-color: #2ecc71;
    border: none;
    border-radius: 10px;
    color: white;
    
    cursor: pointer;
    
}
.options{
    cursor: pointer;
}
label{
    cursor: pointer;
}
.btn-box {
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-bx-left {
    display: flex;
    gap:10px;
}